<div class="border-t-8 border-green-500">
    <div class="container mx-auto px-6">
      <div class="mx-auto max-w-xl mb-4">
        <%= image_tag "airport_gap_logo.png" %>
      </div>

      <% if flash[:alert] %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded relative mb-4 w-full md:w-1/2 mx-auto" role="alert">
          <span class="block sm:inline"><%= flash[:alert] %></span>
        </div>
      <% end %>

      <% if current_user.errors.any? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded relative mb-4 w-full md:w-1/2 mx-auto" role="alert">
          <span class="block sm:inline font-bold">There were some problems updating your password:</span>
          <ul class="list-inside list-disc mt-2">
            <% current_user.errors.full_messages.each do |msg| %>
              <li class="ml-4"><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="border border-grey-600 rounded bg-white shadow-md w-full md:w-1/2 mx-auto p-4">
        <h1 class="text-xl font-bold text-center mb-4">Change your password</h1>

        <%= form_for current_user, url: change_password_path do |f| %>
          <div class="mb-4">
            <%= label_tag :current_password, "Current Password", class: "font-bold block mb-1" %>
            <%= password_field_tag :current_password, "", class: "shadow appearance-none border border-grey-200 rounded w-full py-2 px-3 text-grey-700 leading-tight focus:outline-none focus:ring" %>
          </div>

          <div class="mb-4">
            <%= f.label :password, "New Password", class: "font-bold block mb-1" %>
            <%= f.password_field :password, class: "shadow appearance-none border border-grey-200 rounded w-full py-2 px-3 text-grey-700 leading-tight focus:outline-none focus:ring" %>
          </div>

          <div class="mb-4">
            <%= f.label :password_confirmation, "Confirm New Password", class: "font-bold block mb-1" %>
            <%= f.password_field :password_confirmation, class: "shadow appearance-none border border-grey-200 rounded w-full py-2 px-3 text-grey-700 leading-tight focus:outline-none focus:ring" %>
          </div>

          <div class="flex justify-end">
            <%= f.submit "Change Password", class: "w-full md:w-auto px-4 py-2 bg-green-500 hover:bg-green-700 rounded-lg text-white font-bold focus:outline-none focus:ring" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
