<!DOCTYPE html>
<html>
  <head>
    <title>Airport Gap - An API to fetch and save information about your favorite airports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body class="bg-grey-050">
    <%= yield %>
  </body>
</html>
